{% load static %}
<!doctype html>
<html>
<head>
<title>IMDB</title>
</head>
<link rel="icon" href="{% static 'favicon.ico' %}
" type="image/x-icon"/>
<body><p>Top ten movies based on imdb score are: <font color = #0000FF>[[('The Twilight Zone', 9.5), ('The Godfather', 9.2), ('Il buono, il brutto, il cattivo.', 9.0), ('The Simpsons', 9.0), ('Pulp Fiction', 9.0), ('The X Files', 9.0), ('I Love Lucy', 9.0), ('One Flew Over the Cuckoos Nest', 8.9), ('Star Wars', 8.8), ('Casablanca', 8.8)]]</font></p></body>
</html>